@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    background-color: hsl(212, 45%, 89%)}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:"Outfit",sans-serif;
}
.main-content{
    margin-top:5%;
    background-color:hsl(0, 0%, 100%);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:18px;
    width:17rem;
    height:25rem;
    text-align:center;
    box-shadow:0 9px 3px 2 hsl(220, 15%, 55%);
}
.main-content > img{
    background-color:hsl(0, 0%, 100%);
    width:16rem;
    height:16rem;
    padding:0.4rem;
    margin-top:0.1rem;
    border-radius:10px;
}
.main-content span{
    background-color:hsl(0, 0%, 100%);
    font-weight:700;
    text-align:center;
    padding:1rem;
}
.main-content p{
    background-color:hsl(0, 0%, 100%);
    font-weight:400;
    font-size:15px;
}

